<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yutoolss.codestudio">

    <application>
        <!-- Chat Widget Provider -->
        <receiver android:name=".widget.ChatWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chat_widget_info" />
        </receiver>

        <!-- RemoteViews Service for the List -->
        <service android:name=".widget.ChatWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>
